<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">


    <!--导入配置文件-->



    <context:property-placeholder location="classpath:jdbc.properties"></context:property-placeholder>

    <context:component-scan base-package="com.ccsu.bookshop.dao"></context:component-scan>
    <!--数据库的配置-->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="${driver}" />
        <property name="url" value="${url}" />
        <property name="username" value="root" />
        <property name="password" value="123456" />
        <property name="maxActive" value="10" />
        <property name="minIdle" value="5" />
    </bean>


    <!--sqlSessionFactory-->
    <bean  id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"></property>
        <!--加载文件-->
        <property name="configLocation" value="classpath:sqlMapConfig.xml"></property>

        <property name="plugins">
            <list>
                <ref bean="pageInterceptor"></ref>
            </list>
        </property>

        <property name="mapperLocations">
            <list>
                <value>classpath:./mappers/**/*.xml</value>
            </list>
        </property>
    </bean>

    <!--mapper扫描器-->
    <!--持久层接口-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--加载mapper文件-->
        <property name="basePackage" value="com.ccsu.bookshop.dao"></property>
        <!--加载sqlSessionFactoy-->
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactoryBean"/>
    </bean>




    <!--//分页-->
    <bean name="pageInterceptor" class="com.github.pagehelper.PageInterceptor">
        <property name="properties">
            <value>
                helperDialect=mysql
                reasonable=true
                supportMethodsArgument=true
                params=count=countSql
                autoRuntimeDialect=true
            </value>
        </property>
    </bean>


    <!--//事务管理-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"></property>
    </bean>


    <!--<tx:advice id="txadvice" transaction-manager="transactionManager">-->
        <!--<tx:attributes>-->
            <!--<tx:method name="select*" read-only="true"></tx:method>-->
            <!--<tx:method name="get*" read-only="true"></tx:method>-->
            <!--<tx:method name="query" read-only="true"/>-->
            <!--<tx:method name="add*" propagation="REQUIRED" rollback-for="Exception" />-->
            <!--<tx:method name="update*" propagation="REQUIRED" rollback-for="Exception" />-->
            <!--<tx:method name="delete*" propagation="REQUIRED" rollback-for="Exception"/>-->
            <!--<tx:method name="insert*" propagation="REQUIRED" read-only="true"/>-->
        <!--</tx:attributes>-->
    <!--</tx:advice>-->

    <!--<aop:config>-->
        <!--<aop:pointcut id="daoMethod" expression="execution(* com.ccsu.bookshop.service.*.*(..))"/>-->
        <!--<aop:advisor pointcut-ref="daoMethod" advice-ref="txadvice"/>-->
    <!--</aop:config>-->

    <!--&lt;!&ndash;注解开发&ndash;&gt;-->
    <!--<tx:annotation-driven transaction-manager="transactionManager"/>-->

</beans>
