<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccsu.bookshop.dao.BookCommentDao">

    <select id="queryBookComments"  resultType="com.ccsu.bookshop.bean.BookComment">
        select  * from book_comment where dadId=#{bookId}
    </select>

    <insert id="insertBookComment" parameterType="com.ccsu.bookshop.bean.BookComment">
        insert into book_comment(dadId,uid,uname,content,star,pic,createTime,praise,icon) values(#{dadId},#{uid},#{uname},#{content},#{star},#{pic},#{createTime},#{praise},#{icon})
    </insert>

    <delete id="deleteBookCommentById" parameterType="int">
        delete from book_comment where id=#{id}
    </delete>

    <update id="updateCommentPraise" parameterType="com.ccsu.bookshop.bean.BookComment">
        update book_comment set praise= #{likes},likeMan=#{likeMan} where id=#{id}
    </update>


</mapper>
